body {

    margin: 0; 
    padding: 0;
}

.divmenu {
display: flex;
background: black;
flex-direction: row;
height: 60px;
padding: 30px 50px 5px 50px;
}

.div1 { 

width: 100px;
font-size: 18px;
background: black;
color: white; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mail 
{
width: 60px;
height: 50px;
}

.div2 { 
background: black;
 width: 100px;
font-size: 18px;
color: white; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.div3 { 
background: black;
width: 100px;
font-size: 18px;
color: white; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

.div4 { 
    background: black;
width: 100px;
font-size: 18px;
color: white; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div5 { 
width: 100px;
font-size: 18px;
color: white; 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.div6 { 
    background: black;
width: 100px;
font-size: 18px;
color: white; 
display: none; 

font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    @media(max-width:500px) { 

.divmenu { 
flex-direction: row;
 max-width:500px; }

.div2, .div3, .div4, .div5  { 
 display: none; 
    }  

 .div1, .div6 { 

 display: block; 
}

    }