.logo0
{ 
    display: flex;
    justify-content: center;
    
}
.logo1
{ 
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid white;
}

body 
{
background: linear-gradient(to bottom, pink, purple);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-attachment: fixed;


}

.arroba {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px 0px 20px 0px;
}

.bdiv
{
    width: 70%;
    min-height: 60px;
    margin-bottom: 10px;
    height: auto;
    display: flex;
    justify-content: center;
}

.b1
{
    
    width: 680px;
    background-color: transparent;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    justify-content: center;
    border-color: white;
    border-style: solid;
    padding: 1px 1px 1px 1px;

    
}

a:link {
    text-decoration:none;
    color: white;
    font-size: 16px;
    font-style: normal;
    
  }
a:hover {
    text-decoration:none;
    color: pink;
  }

a:visited { 
    text-decoration:none;
    color: #CCC7EA;
  }

